.home-container {
  background-color: #0f172a;
  min-height: 100vh;
  color: white;
}

.home-content {
  text-align: center;
  padding: 50px 20px;
}

.search-bar {
display: flex;
align-items: center;
justify-content: center;
width: 458px;
height: 56px;
}

.search-input {
width: 458px;
height: 56px;
angle: 0 deg;
opacity: 1;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
background: #1D2537;
border: none;
font-family: HK Grotesk;
font-weight: 400;
font-size: 24px;
leading-trim: NONE;
line-height: 32px;
letter-spacing: 0%;
color: #94A3B8;
width: 247;
height: 32;
angle: 0 deg;
opacity: 1;
/* padding-top: 12px; */
padding-left: 24px;

}

.search-button {
width: 64px;
height: 56px;
angle: 0 deg;
opacity: 1;
gap: 10px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;
background: #4F4E4C;
cursor: pointer;
outline: none;
border: none;

}

.fa-search {
width: 24;
height: 24;
angle: 0 deg;
opacity: 1;
}

.illustration {
  width: 300px;
  margin-top: 30px;
}
